.render-search-buttons
  = render "search_buttons"
.messages-list
  .search-message
    = search_result_messages(params[:search_name], params[:search_surface], params[:search_category])
  .search-message
    =  result_found(@teams_profiles)
  = paginate @teams_profiles, remote: true
.button-create-team
  = team_button
  .ul.list-teams
    - @teams_profiles.each do |team_profile|
      .li.team
        .item-team
          - if team_profile.badge?
            %img.team-picture{ alt: t(".team_picture"),
                               src: image_path(team_profile.badge),
                               size: "64x64" }
          - else
            %img.team-picture{ alt: t(".team_picture"),
                               src: image_path("badge_default.jpg"),
                               size: "64x64" }
        .link-team
          = link_to "#{team_profile.team.name}", team_profile.team
        .set-options-team
          %a.toggle-team{ "data-toggle" => "dropdown" }
            = t(".msj_action")
            %span.caret
          %ul.dropdown-menu
            .li
              = link_to t(".org_match"), "#"
            .li
              = link_to t(".join_team"), "#"
