%body{ :background => image_path("background.jpg"), :style => "background-repeat:no-repeat; background-position:rigth-bottom;" }
  .container
    .span11.offset.well
      %legend
        = t ".title"

      %ul.thumbnails
        - @teams.each do |team|
          %li.span5.clearfix
            .thumbnail.clearfix
              - if team.profile.badge?
                %img.pull-left.span2.clearfix{:alt => "Team_Picture", :src => image_path(team.profile.badge), :style => "margin-right:10px", :size => "64x64"}/
              - else
                %img.pull-left.span2.clearfix{:alt => "Team_Picture", :src => image_path("badge_default.jpg"), :style => "margin-right:10px", :size => "64x64"}/
              .pull-left
                %h4
                  %a{:class => "media-heading"}=link_to "#{team.name}", team
                %div{:class => "btn-group"}
                  %a{:class => "btn dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                    = t ".msj_action"
                    %span{:class => "caret"}
                  %ul{:class => "dropdown-menu", :role => "menu", "aria-labelledby" => "dropdownMenu"}
                    %li
                      %a{:tabindex => "-1", :href =>"#"}
                        = t ".msj_option_one"
                    %li
                      %a{:tabindex => "-1", :href =>"#"}
                        = t ".msj_option_two"

      - if user_signed_in? && !current_user.team.blank?
        = button_to t('.btn_team'), team_path(current_user.team), {:method => :get, :class => "btn btn-info", :type => "button"}

      - if user_signed_in? && current_user.team.blank?
        = button_to t('.btn_create'), new_team_path, {:method => :get, :class => "btn btn-info", :type => "button"}

      - if !user_signed_in?
        = button_to t('.btn_create'), new_team_path, {:method => :get, :class => "btn btn-info disabled", :type => "button"}
