%h1= t ".title"

- if user_signed_in? and !current_user.team.blank?
  = button_to (t ".btn_team"), team_path(current_user.team), {:method => :get, :class => "btn btn-mini btn-info", :type => "button"}
- if user_signed_in? and current_user.team.blank?
  = button_to (t ".btn_create"), new_team_path, {:method => :get, :class => "btn btn-mini btn-primary", :type => "button"}
- if !user_signed_in?
  = button_to (t ".btn_create"), new_team_path, {:method => :get, :class => "btn btn-mini btn-primary disabled", :type => "button"}

%table{:class => "table table-striped"}
  - for team in @teams
    %tr
      %td
        %div{:class => "media"}
          %a{:class => "pull-left", :href => "#"}
            - if team.profile.badge?
              = image_tag team.profile.badge, size: "64x64"
            - else
              = image_tag "badge_default.jpg", size: "64x64"
          %div{:class => "media-body"}
            %h4{:class => "media-heading"}=link_to "#{team.name}", team
      %td
        %div{:class => "btn-group"}
          %a{:class => "btn dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
            = t ".msj_action"
            %span{:class => "caret"}
          %ul{:class => "dropdown-menu", :role => "menu", "aria-labelledby" => "dropdownMenu"}
            %li
              %a{:tabindex => "-1", :href =>"#"}
                = t ".msj_option_one"
            %li
              %a{:tabindex => "-1", :href =>"#"}
                = t ".msj_option_two"