%body{ :background => image_path("background.jpg"), :style => "background-repeat:no-repeat; background-position:rigth-bottom;" }
  .container
    .span11.offset.well
      %legend= t('.title')
      .row
        .span8
          %div{:class => "dl-horizontal"}
            %h2 
              %dd= @team.name

            %dt= t('.owner')
            %dd= link_to "#{@team.owner.name}", user_profile_path(@team.owner)

            %dt= t('.category')
            %dd= @team.profile.category.to_sentence

            %dt= t('.surface')
            %dd= @team.profile.surface.to_sentence

            %dt= t('.description')
            %dd= @team.profile.description

        .span3
          %p= t('.badge_team')
          %a.thumbnail{ :href => edit_team_path(@team) }
            = profile_badge(@team.profile,:badge)
      = link_to t('.link_photos'), team_photos_path(@team), class: 'btn btn-info'

      - if owner_permission?

        = link_to t('.link_edit'), edit_team_path(@team), class: 'btn btn-info'

        = link_to t('.btn_delete'),
                  team_path(@team),
                  method: :delete,
                  confirm: t('are_you_sure'), class: 'btn btn-danger'

    .span11.offset.well.well-large
      .dl-horizontal
        %h1=t('.players')
        %table{:class => "table table-striped"}
        - @team.players.each do |player|
          %tr
            %td
              %div{:class => "media"}
                %a{:class => "pull-left", :href => "#"}
                  = profile_avatar(player.profile, :face)
                %div{:class => "media-body"}
                  %h4{:class => "media-heading"}
                    =link_to "#{player.name} #{player.profile.surname}", user_profile_path(player)
                  %h5{:class => "media-heading"}
                    = (player.profile.playing_position.map { |s| t("user_profile.playing_position.#{s}")}).to_sentence
