%h1 Team
%div{:class => "row-fluid"}
  %div{:class => "span10"}
    %div{:class => "hero-unit"}
      %div{:class => "dl-horizontal"}
        %h3
          %dt Team name:
          %dd= @team.name
        %h5
          %dt Team owner:
          %dd= link_to "#{@team.owner.name}", user_profile_path(@team.owner)
  %div{:class => "span2"}
    %div{:class => "img-polaroid"}
      = form_for @team, :html => {:multipart => true} do |f|
        -if @team.profile.badge?
          = image_tag(@team.profile.badge_url(:thumb))
        -else
          = image_tag "profile_dafault.png"
        %div
          - if user_signed_in? and current_user == @team.owner
            = link_to "edit", edit_team_path(@team)

%div{:class => "well well-large"}
  %div{:class => "dl-horizontal"}
    %dt Team category:
    %dd= @team.profile.category.to_sentence
    %dt Team surface:
    %dd= @team.profile.surface.to_sentence
    %dt Team description:
    %dd= @team.profile.description


- if user_signed_in? and current_user.team == @team
  = button_to "Delete team", team_path(@team), {:method => :delete, :class => "btn btn-mini btn-danger", :type => "button", :confirm => "Are you sure?"}

