%body{ :background => image_path("background.jpg"), :style => "background-repeat:no-repeat; background-position:rigth-bottom;" }
  .container
    .span11.offset.well
      .row
        .span8
          %div{:class => "dl-horizontal"}
            %h2
              %dd= @team.name

            %dt= "#{TeamProfile.human_attribute_name(:owner)}: "
            %dd= link_to "#{@team.owner.name}", user_profile_path(@team.owner)

            %dt= "#{TeamProfile.human_attribute_name(:category)}: "
            %dd= @team.profile.category.to_sentence

            %dt= "#{TeamProfile.human_attribute_name(:surface)}: "
            %dd= @team.profile.surface.to_sentence

            %dt= "#{TeamProfile.human_attribute_name(:description)}: "
            %dd= @team.profile.description

            %h6= link_to t('.link_photos'), team_photos_path(@team)
        .span3
          %p Escudo del Equipo
          %a.thumbnail{ :href => edit_team_path(@team) }
            -if @team.profile.badge?
              %img{ :alt => "", :src => image_path(@team.profile.badge_url(:thumb)) }
            -else
              %img{ :alt => "", :src => image_path("badge_default.jpg") }

      - if owner_permission?
        %button.btn.btn-info
          .btn-block.pull-rigth
            = link_to t('.link_edit'), edit_team_path(@team)

        %button.btn.btn-danger
          %a.btn-block.pull-rigth{ :method => :delete, :href => team_path(@team), :confirm => "Are you sure?" }= t('.btn_delete')

    .well.well-large
      .dl-horizontal
        %h1=t('.players')
        %table{:class => "table table-striped"}
        - @team.players.each do |player|
          %tr
            %td
              %div{:class => "media"}
                %a{:class => "pull-left", :href => "#"}
                  = profile_avatar(player)
                %div{:class => "media-body"}
                  %h4{:class => "media-heading"}
                    =link_to "#{player.name} #{player.profile.surname}", user_profile_path(player)
                  %h5{:class => "media-heading"}
                    = (player.profile.playing_position.map { |s| t("user_profile.playing_position.#{s}")}).to_sentence
