%h1 Team
%div{:class => "row-fluid"}
  %div{:class => "span10"}
    %h6= link_to "photos", team_photos_path(@team)
    %div{:class => "hero-unit"}
      %div{:class => "dl-horizontal"}
        %h3
          %dt Team name:
          %dd= @team.name
        %h5
          %dt Team owner:
          %dd= link_to "#{@team.owner.name}", user_profile_path(@team.owner)
  %div{:class => "span2"}
    %div{:class => "img-polaroid"}
      = form_for @team, :html => {:multipart => true} do |f|
        -if @team.profile.badge?
          = image_tag(@team.profile.badge_url(:thumb))
        -else
          = image_tag "badge_default.jpg", size: "140x140"
        %div
          - if user_signed_in? and current_user == @team.owner
            = link_to "edit", edit_team_path(@team)

.well.well-large
  .dl-horizontal
    %dt Team category:
    %dd= @team.profile.category.to_sentence
    %br
    %dt Team surface:
    %dd= @team.profile.surface.to_sentence
    %br
    %dt Team description:
    %dd= @team.profile.description


- if owner_permission?
  = button_to "Delete team", team_path(@team), {:method => :delete, :class => "btn btn-mini btn-danger", :type => "button", :confirm => "Are you sure?"}
  = button_to "Add to players",team_users_path, :method => :get, :class => "btn btn-mini btn btn-success"
  / add_players_path(@team), {:method => :delete, :class => "btn btn-mini btn-danger", :type => "button", :confirm => "Are you sure?"}

