= f.label "#{:name}*"  
= f.text_field :name
= f.label "#{:surname}*"
= f.text_field :surname
= f.label :nickname
= f.text_field :nickname
= f.label "#{:playing_position}*"
%div{:class => "form-inline"}
  - UsersProfilesHelper::POSITIONS.each do |position|
    = f.check_box :playing_position, {:multiple => true}, position, nil
    = f.label "#{position} |"
= f.label :dob
= f.date_select :dob, {:include_blank => true, :start_year => 1923, :end_year => 2013}
= f.label :locality
= f.text_field :locality
= f.label :foot
= f.select :foot, UsersProfilesHelper::FOOTS, {:include_blank => true}
= f.label :features
= f.text_area :features, rows: 4