%h3 Crop Avatar

= image_tag @profile.avatar_url, :id => 'cropbox'

= form_for @profile , :url => user_profile_path(@user) do |f|
  - %w[x y w h].each do |attribute|
    = f.hidden_field "crop_#{attribute}"
  %div{:class => "actions"}
    = f.submit "Crop", :class => "btn-large"