%h2 Edit your profile
= form_for @profile, url: user_profile_path(@user) do |f|
  = errors_for(@profile).html_safe
  %div{:class => "img-polaroid pull-right"}
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
    - if @profile.avatar.url.present?
      %div{:class => "form-inline"}
        = f.check_box :remove_avatar
        = f.label :remove_avatar, "remove avatar"
  = f.label :avatar, :class => "img-polaroid pull-right" do
    - if @profile.avatar?
      = image_tag(@profile.avatar_url(:thumb))
    - else
      = image_tag('profile_dafault.png')
  = render  "data", :f => f
  %div
    = f.submit "Save Changes",:class => "btn", method: 'put'