%h2 Crea tu perfil
= form_for @profile, url: users_profiles_path(@profile) do |f|
  = error_messages!
  = f.label :name
  = f.text_field :name
  = f.label :surname
  = f.text_field :surname
  = f.label :nickname
  = f.text_field :nickname
  = f.label :playing_position
  = f.text_field :playing_position
  = f.label :born
  = f.text_field :born
  = f.label :locality
  = f.text_field :locality
  = f.label :foot
  = f.text_field :foot
  = f.label :features
  = f.text_field :features
  %div
    = f.submit "Save", method: 'post' 
