%h1 Perfil de Jugador
- if user_signed_in? and current_user == @user
  %h4=link_to "Editar", edit_user_profile_path(@user)
%div{:class => "row-fluid"}

  %div{:class => "span9"}
    %div{:class => "hero-unit"}
      %h3
        -if @profile.nickname.blank?
          ="#{@profile.name} #{@profile.surname} "
        -else
          ="#{@profile.name} #{@profile.surname} (#{@profile.nickname})"

  %div{:class => "span3"}
    %div{:class => "img-polaroid"}
      %h3 Foto de Perfil
      = form_for @profile, :html => {:multipart => true} do |f|
        -if @profile.avatar?
          = image_tag(@profile.avatar_url(:thumb))
        -else
          = image_tag "profile_dafault.png"
        %div

          - if user_signed_in? and current_user == @user
            = link_to "Cambiar", edit_user_profile_path(@user)
%br

.well.well-large
  .dl-horizontal
    %br
    %dt Playing position
    %dd= @profile.playing_position.to_sentence
    %br
    %dt Locallity
    %dd= @profile.locality
    %br
    %dt Born
    %dd= @profile.dob
    %br
    %dt Foot
    %dd= @profile.foot
    %br
    %dt Features
    %dd= @profile.features