%div{ id: "#{action}-table"}
  %table.teams-league
    %thead
      %th
        = I18n.t("leagues.edit.team_header_row")
      %th
        = I18n.t("leagues.edit.owner_header_row")
      %th
        = action == "affiliate" ? I18n.t("leagues.edit.action_affiliate") : I18n.t("leagues.edit.action_delete")
    - collection.each do |team|
      = render partial: "row_edit_team_table",
               locals: { team: team, action: action }
