.edit-form-league
  = errors_for(@league).html_safe
  .edit-general-league
    = f.label :name
    = f.text_field :name

    = f.label :start_date
    = f.date_select :start_date,
                    { include_blank: true, start_year: 2013, end_year: 2099},
                    {class: "small-field"}
    %br
    = f.label :field_price
    .field-money-league
      $
    = f.text_field :field_price, {class: "medium-field"}

    = f.label :registration_price
    .field-money-league
      $
    = f.text_field :registration_price, {class: "medium-field"}
    %br
    = f.label :number_matches
    = f.select :number_matches, (1..100).to_a,{ include_blank: true },
               {class: "medium-field"}
    %br
    = f.label :number_teams
    = f.select :number_teams, (1..50).to_a,{ include_blank: true },
               { class: "medium-field" }
  .edit-category-league
    = f.label :category
    .form-inline
      - LeaguesHelper::CATEGORY.each do |category|
        = f.radio_button :category, category, { }
        = f.label "#{category} "
        %br
.edit-requirements-league
  = f.label :requirements
  = f.text_area :requirements, size: "5x5"
  %br
  = f.submit t('leagues.edit.btn_save'), class: 'edit-button'
