.container-league
  .badge-tournament
    %a{ href: league_path(league) }
      = image_tag "league_default.png", size: "64x64"
  .tournament-information
    .name-category
      = link_to "#{t('leagues.index.name')}: #{league.name}", league_path(league)
      %br
      ="#{t('leagues.index.category')}: #{league.category}"
    .status
      = league_status(league)
    .organizer-date
      = t('leagues.index.organizer')
      = link_to league.organizer.name, sport_center_path(league.organizer)
      %br
      = t('leagues.index.start_date')
      .label.label-info
        = league.start_date
    .fixture
      = league_fixture(league)
