.row-fluid
  .span12
    .span1
      = image_tag "league_default.png", size: "64x64"
    .span11
      .row-fluid
        .span3
          = link_to "#{I18n.t('leagues.index.name')}: #{league.name}", league_path(league)
          %br
          ="#{I18n.t('leagues.index.category')}: #{league.category.to_sentence}"
        .span3
          - if league.teams.count.to_i < league.number_teams.to_i
            .label.label-success
              = "#{I18n.t('leagues.index.available_inscriptions')}: #{league.number_teams.to_i - league.teams.count.to_i}"
          - else
            .label.label-important
              = I18n.t('leagues.index.unavailable_inscriptions')
          %br
            = I18n.t('leagues.index.registered')
            .label.label-default
              = "#{league.teams.count}/#{league.number_teams}"
        .span3
          = "#{I18n.t('leagues.index.organizer')}:"
          = link_to league.organizer.name, "#"
          %br
          = "#{I18n.t('leagues.index.start_date')}: "
          .label.label-info
            = "#{league.start_date}"
        .span3
