.container-league
  .navigation-league-edit
    %ul.nav.nav-tabs
      %li.active
        = link_to t(".information"), "#information-league", "data-toggle" => "tab"
      %li
        = link_to t(".teams"), "#teams-league", "data-toggle" => "tab"

    .tab-content
      #information-league.tab-pane.active
        .title-league
          = t(".title")
        = form_for @league do |f|
          = render 'form', f: f

      #teams-league.tab-pane
        .title-league
          = t(".title")
        .list-teams
          .title-league
            = t(".my_teams_table")
          = render "edit_teams_table", collection: @teams, action: "remove"
        = fixture_league_button(@league)
        .list-teams
          .title-league
            = t(".teams_table")
          = render "edit_teams_table", collection: @inscription_requests, action: "affiliate"
