.container-league
  .title-league
    = t(".title")
    =": #{@league.name}"
  .information
    .general
      .text-center
        %h3= t(".data")
      %ul
        %li
          %strong= "#{t(".organizer")}:"
          = link_to @league.organizer.name, "#"
        %br
        %li
          %strong= "#{t(".category")}:"
          = @league.category
        %br
        %li
          %strong= "#{t(".start_date")}:"
          = @league.start_date
        %br
        %li
          %strong= "#{t(".number_teams")}:"
          = @league.number_teams
        %br
        %li
          %strong= "#{t(".number_matches")}:"
          = @league.number_matches
        %br
        %li
          %strong= "#{t(".registration_price")}: $"
          = @league.registration_price
        %br
        %li
          %strong= "#{t(".field_price")}: $"
          = @league.field_price
        %br
        %li
          %strong= "#{t(".requirements")}:"
          = @league.requirements
        %br
    .point-system
      .text-center
        %h3= t(".point_system_title")
      %ul
        %br
        %li
          %strong= "#{t(".win")}:"
          = @point.win
        %br
        %li
          %strong= "#{t(".tie")}:"
          = @point.tie
        %br
        %li
          %strong= "#{t(".loose")}:"
          = @point.loose
  .buttons-league
    = buttons_organizer_league(@league)
    = buttons_owner_team(@league)
  .league-players
    .title-players
      = t(".teams_of_league")
    %table.players
      %thead
        %th
          = t(".team_header_row")
        %th
          = t(".owner_header_row")
      - @teams.each do |team|
        %tr
          %td
            = link_to team.name, team_path(team)
          %td
            = link_to "#{team.owner.name} #{team.owner.profile.surname}",
                      user_profile_path(team.owner)
