- week.matches.each do |match|
  %li{ id: "match_#{match.id}" }
    .match-fixture-edit
      .local-team
        = link_to match.local.name, team_path(match.local)
      .vs-match
        vs
      .visitor-team
        = link_to match.visitor.name, team_path(match.visitor)
      .match-date
        = match.reservation.reservation_date.strftime("%d/%m/%Y - %H:%S")
      .match-place
        = link_to match.reservation.field.name,
                    location_field_path(match.reservation.field.location ,
                                        match.reservation.field)
      .buttons-match-edit
        = link_to "#", id: "openmodal-match",
                  "data-match" => "#{match.id}",
                  "title" => I18n.t("fixtures.edit.tooltip_edit") do
          %i.icon-pencil
        = link_to match_path(match), method: :delete,
                  "title" => I18n.t("fixtures.edit.tooltip_delete"),
                  confirm: I18n.t("fixtures.edit.confirm_delete"),
                  class: "delete-match",
                  remote: true do
          %i.icon-remove
        = link_to edit_match_path(match),
                  class: "add-result",
                  "title" => I18n.t("fixtures.edit.tooltip_result") do
          %i.icon-edit

  %div.hide{ id: "modal-edit-match-info-#{match.id}" }
    = form_for match, remote: true, format: :json do |f|
      .form_edit
        .header
          .close{"data-dismiss" => "modal"} x
          .title-edit-fixture
            = I18n.t("fixtures.edit.title_match")
        .body
          .edit-fixture-teams
            = I18n.t("fixtures.edit.local_team")
          = f.collection_select :local_id, @league.teams, :id, :name_with_owner
          .edit-fixture-teams
            = I18n.t("fixtures.edit.visitor_team")
          = f.collection_select :visitor_id, @league.teams, :id, :name_with_owner
          = f.fields_for :reservation_attributes, match.reservation  do |r|
            .edit-fixture-fields
              = I18n.t("fixtures.edit.field")
            = r.collection_select :field_id, @fields, :id, :name
            .edit-fixture-fields
              = I18n.t("fixtures.edit.reservation_datetime")
            .modal-new-match-datetime
              = r.text_field :reservation_date,
                             "data-format" => "dd/MM/yyyy hh:mm"
              .add-on
                %i{ "data-time-icon" => "icon-time",
                    "data-date-icon" => "icon-calendar" }
        .footer
          = f.submit I18n.t("fixtures.edit.save_changes"),
                     class: "btn-edit-match"
