%body{ :background => image_path("background.jpg"), :style => "background-repeat:no-repeat; background-position:rigth-bottom;" }
  .container
    .row
      .span4.offset4.well
        %legend Ingresar
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

          = f.label :email
          = f.text_field :email, :class => 'span4', placeholder: '@email'

          = f.label :Contraseña
          = f.password_field :password, class: 'span4', placeholder: 'Contraseña'

          %label.checkbox
            %input{:name => "remember", :type => "checkbox", :value => "1"}/
            Recordarme

          = f.submit 'Ingresar', class: 'btn btn-info btn-block'

        = render "devise/shared/links"
