= f.label :direccion
= f.text_field :address
= f.label :cuit
= f.text_field :cuit
= f.label :Teléfono
= f.text_field :phone
= f.label :email
= f.text_field :email
= f.label :Descripción	
= f.text_field :description
