%h2= t(".title")
= form_for @sport_center, url: user_sport_center_path(@user) do |f|
  = errors_for(@sport_center).html_safe
  = render  "data", :f => f
  %div
    = f.submit t(".btn_submit"),:class => "btn"
