
.container
  .container-layout
    %legend.title
      = t('.title')

    .sport-centers
      %ul.thumbnails
        - @sport_centers.each do |sc|
          %li.sport-center
            %img.pull-left.span2.clearfix{:alt => "Team_Picture", :src => image_path("sport_center.jpg"), :style => "margin-right:10px", :size => "64x64"}/
            .pull-left
              .name
                %h4
                  %a{:class => "media-heading"}
                    = link_to "#{sc.name}", "#"
              .address
                = "#{t('.address')}:"
                = sc.address
              .phone
                = "#{t('.phone')}:"
                = sc.phone

              %ul.fields
                .title_fields
                  %h4
                    = t('.title_fields')
                - sc.fields.each do |f|
                  %h4
                  %a{:class => "media-heading"}
                    = link_to "#{f.name}", "#"
