.landing-page
  .images-carousel
    = render "landing_carousel"
  .information.hidden-phone
    .tournaments
      %img.img-circle#thumb{ "data-src" => "holder.js/140x140",
                             :src => image_path('landing/tournament.jpg'),
                             :style => "width: 140px; height: 140px;"}
      %h2= t(".tournaments")
      %p= t(".description_tournament")
      = link_to t(".see_tournaments"), leagues_path, class: "button"
    .teams
      %img.img-circle{ "data-src" => "holder.js/140x140",
                       :src => image_path('landing/team.jpg'),
                       :style => "width: 140px; height: 140px;"}
      %h2= t(".teams")
      %p= t(".description_teams")
      = link_to t(".see_teams"), teams_path, class: "button"
    .fields
      %img.img-circle{"data-src" => "holder.js/140x140",
                      :src => image_path('landing/field.jpg'),
                      :style => "width: 140px; height: 140px;"}
      %h2= t(".stadiums")
      %p= t(".description_stadium")
      = link_to t(".see_stadiums"), sport_centers_path, class: "button"
