.select_teams  
  .team
    .name_team
      = t('matches.new.local')
      = f.text_field :local_tokens
  .vs
    .title_vs
      = t('matches.new.vs')    
  .team
    .name_team
      = t('matches.new.visit')
      = f.text_field :visitor_tokens

/ = f.fields_for :week_attributes do |w|
/     = w.label :week
/     = w.select :number, (0..20).to_a, class: "input-small"
.select_field
  = f.fields_for :reservation_attributes do |builder|
    = t('matches.new.select_field')
    %br
    = builder.grouped_collection_select :field_id, @locations, :fields, :name,:id, :name
    
    .date_time
      = t('matches.new.select_date')
      %br
      = builder.datetime_select :reservation_date,{ :order => [:day, :month, :year, :hour,:minute], :reservation_date => Time.now.year} ,:class => 'option-large'

