.container_match
  .title_match
    = t('.title')

  = form_for @match do |f|
    = errors_for(@match).html_safe
    = render  "data_edit", :f => f
    .container_button_match    
      = f.submit t('matches.btn_edit') , class:'match_button'
