.container_match
  .title_match_edit
    = t('.title')

  = form_for @match do |f|
    = errors_for(@match).html_safe
    = render  "data_edit", :f => f
    .button_edit_match    
      = f.submit t('.btn_edit') , class:'edit_button'
