.container_match
  .title_match
    = t('.title')

  = form_for @match do |f|
    = errors_for(@match).html_safe
    
    = render  "select_teams", :f => f
    .container_button_match    
      = f.submit t('.btn_create') , class:'match_button'
    