$(function () {
  $('#match_local_tokens').tokenInput('/teams.json', { 
    crossDomain: false,
    prePopulate: $('#macht_local_tokens').data('pre'),
    theme: "facebook",
    tokenLimit: "1",
    noResultsText: "<%= I18n.t('teams.noResultsText') %>",
    hintText: "<%= I18n.t('.teams.hintText')%>",
    searchingText: "<%= I18n.t('.teams.searchingText')%>",
    // resultsFormatter: function(item){return "<li><p>" + item.name 
    // + " <b style='color: red'>" + item.owner.name+ "</b></p></li>" },
    // tokenFormatter: function(item) { return "<li><p>" + item.name
    // + " <b style='color: red'>" + item.email+ "</b></p></li>" }
  });
});

$(function () {
  $('#match_visitor_tokens').tokenInput('/teams.json', { 
    crossDomain: false,
    prePopulate: $('#macht_visitor_tokens').data('pre'),
    theme: "facebook",
    tokenLimit: "1",
    noResultsText: "<%= I18n.t('teams.noResultsText') %>",
    hintText: "<%= I18n.t('.teams.hintText')%>",
    searchingText: "<%= I18n.t('.teams.searchingText')%>",
    // resultsFormatter: function(item){return "<li><p>" + item.name 
    // + " <b style='color: red'>" + item.email+ "</b></p></li>" },
    // tokenFormatter: function(item) { return "<li><p>" + item.name
    // + " <b style='color: red'>" + item.email+ "</b></p></li>" }
  });
});

$(function() {
    $('#datetimepicker').datetimepicker({
        language: 'en',
        pick12HourFormat: true
    });
});

$(function(){
  
   //defaults
   $.fn.editable.defaults.url = '/post'; 
   $.fn.editable.defaults.mode = 'inline';

    var sourceArray = new Array (20);
    var i;
    for (i = 0; i < 20; i++)
    {
      sourceArray[i] = { value: i+1, text: (i+1).toString() } ;
    }


    $('#goals').editable({
        value: 1,    
        source: sourceArray
    });

});
