= f.label :name
= f.text_field :name

= f.label :surname
= f.text_field :surname

= f.label :nickname
= f.text_field :nickname

.user_profile_positions
  = user_profile_positions(f)

= f.label :dob
= f.text_field :dob, {:"data-date-format" => "dd/mm/yy", :class => 'datepicker'}

= f.label :locality
= f.text_field :locality

= f.label :foot
= f.select :foot, UsersProfilesHelper::FOOTS, {:include_blank => true}

= f.label :features
= f.text_area :features, rows: 4
