= f.label :name
= f.text_field :name

= f.label :surname
= f.text_field :surname

= f.label :nickname
= f.text_field :nickname

.user_profile_positions
  = user_profile_positions(f)

#user_profile_datepicker.input-append
  = f.label :dob
  = f.text_field :dob, :data_format => "yyyy - mm - dd", :type => "text"
  %span.add-on
    %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}

= f.label :locality
= f.text_field :locality

= f.label :foot
= f.select :foot, UsersProfilesHelper::FOOTS, {:include_blank => true}

= f.label :features
= f.text_area :features, rows: 4
