= paginate @profiles, remote: true
- @profiles.each do |profile|
  .player
    .name
      = link_to "#{profile.name} #{profile.surname} (#{profile.nickname})", profile
    %a{ href: user_profile_path(profile.user) }
      = profile_avatar(profile, :thumb)
