%body{ :background => image_path("background.jpg"), :style => "background-repeat:no-repeat; background-position:rigth-bottom;" }
  .container
    .span11.offset.well
      %legend= t('.title')
      .row
        .span8
          %div{ :class => "dl-horizontal" }
            %h2
              ="#{@profile.name} #{@profile.surname} "
            -if @profile.nickname.blank?
              %dt= t('.nick') 
              %dd= @profile.playing_position.to_sentence
            -else
              %dt= t('.nick')
              %dd= @profile.nickname
            %dt= t('.playing_position')
            %dd= @profile.playing_position.to_sentence
            %dt= t('.born')
            %dd= @profile.dob
            %dt= t('.locality')
            %dd= @profile.locality
            %dt= t('.foot')
            %dd= @profile.foot
            %dt= t('.features')
            %dd= @profile.features
        .span3
          %p= t('.profile_picture')
          %a.thumbnail{ :href => edit_user_profile_path(@user) }
            -if @profile.avatar?
              %img{ :alt => "", :src => image_path(@profile.avatar_url(:thumb)) }
            -else
              %img{ :alt => "", :src => image_path("profile_default.png") }

          %span.badge.badge-success 15 Goles
          %span.badge.badge-warning 1 Amarilla
          %span.badge.badge-important 0 rojas
      - if user_signed_in? and current_user == @user
        %div
        %button.btn.btn-info
          .btn-block.pull-rigth{ :href => edit_user_profile_path(@user) }
            = t('.link_edit')