.navbar-wrapper
  .container
    .navbar.navbar-inverse
      .navbar-inner
        %button.btn.btn-navbar{ "data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{ :href => root_path } Movete que Entras
        .nav-collapse.collapse
          %ul.nav

            %li.active
              = link_to t('navigation_bar.home'), root_url
            %li
              = link_to t('navigation_bar.about_us'), root_url
            %li
              = link_to t('navigation_bar.contact_us'), root_url

          %ul.nav.pull-right
            - if user_signed_in?
              %li
                %a{ :href => "#" } #{current_user.email}
              - if user_signed_in? && !current_user.sport_center.blank?
                %li= link_to "Complejo", sport_center_path(current_user.sport_center)
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = t "navigation_bar.options"
                %b.caret
              %ul.dropdown-menu
                - if user_signed_in? && !current_user.sport_center.blank?
                  %li
                    = link_to t("navigation_bar.stadiums"), fields_path
                %li
                  = link_to t('navigation_bar.leagues'), leagues_path
                %li
                  = link_to t('navigation_bar.teams'), teams_path

                %li.divider

                %li.nav-header MqE

                - if user_signed_in?
                  %li= link_to t('navigation_bar.profile'), user_profile_path(current_user)
                  %li= link_to t('navigation_bar.sign_out'), destroy_user_session_path, method: 'delete'
                -else
                  %li
                    = link_to t('navigation_bar.sign_in'), new_user_session_path
                  %li
                    = link_to t('navigation_bar.sign_up'), new_user_registration_path
