.navbar-wrapper
  .container
    .navbar.navbar-inverse
      .navbar-inner
        %button.btn.btn-navbar{ "data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{ :href => root_path } Movete que Entras
        .nav-collapse.collapse
          %ul.nav
            %li.active
              %a{ :href => "#" } Home
            %li
              %a{ :href => "" } Acerca de
            %li
              %a{ :href => "#" } Contacto
          %ul.nav.pull-right
            - if user_signed_in?
              %li
                %a{ :href => "#" } #{current_user.email}
              - if user_signed_in? && !current_user.sport_center.blank?
                %li= link_to "Complejo", sport_center_path(current_user.sport_center)
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Opciones
                %b.caret
              %ul.dropdown-menu
                - if user_signed_in? && !current_user.sport_center.blank?
                  %li
                    = link_to t("navigation.stadiums"), fields_path
                %li
                  %a{:href => "#"} Campeonatos
                %li
                  %a{:href => teams_path} Equipos
                %li.divider
                %li.nav-header MqE
                - if user_signed_in?
                  %li= link_to "Ver Perfil", user_profile_path(current_user)
                  %li= link_to "Salir", destroy_user_session_path, method: 'delete'
                -else
                  %li
                    %a{:href => new_user_session_path} Ingresar
                  %li
                    %a{:href => new_user_registration_path} Registrarse
