<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Fulbo", root_path, id: "logo"%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Ligas", '#' %></li>
          <li><%= link_to "Equipos", teams_path %></li>
          <li><%= link_to "Estadios", '#' %></li>
          <% if user_signed_in? %>
            <li>Signed in as <%= current_user.email %>. Not you? </li>
            <li><%= link_to "Profile", user_profile_path(current_user)%></li>
            <li><%= link_to "Salir", destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to "Registrarse", new_user_registration_path %></li>
            <li><%= link_to "Entrar", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
