%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Movete Que Entras", root_path, id: "logo"
      .nav-collapse
        %nav
          %ul.nav.pull-right
            %li= link_to t('navigation.leagues'), '#'
            %li= link_to t('navigation.teams'), teams_path
            %li= link_to t('navigation.stadiums'), '#'

            - if user_signed_in?
              %li= link_to t('navigation.profile'), user_profile_path(current_user)

              - if user_has_sport_center?
                %li= link_to t('navigation.sport_center'), sport_center_path(current_user.sport_center)

              %li= t('navigation.session_status', user: current_user.email)
              %li= link_to t('navigation.sign_out'), destroy_user_session_path, method: 'delete'

            - else
              %li= link_to t('navigation.sign_up'), new_user_registration_path
              %li= link_to t('navigation.sign_in'), new_user_session_path
