!!! DOCTYPE html
%html
  %head
    %title Fulbo
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0")
    = render 'layouts/shim'
  %body{ class: params['controller'] }

    = render 'layouts/header'
    .container.main
      %h3 Working in Process...
      - flash.each do |key, value|
        %div(class="alert alert-#{key}")
          = value
      = yield
      = render 'layouts/footer'
